*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
     position: relative;
}
.logo{
    width: 120px;
    cursor: pointer;
    padding: 20px 0px;
}
.content{
 top: 50%;
  margin-left: 250px;
  position: absolute;
  transform: translateY(-50%);
  color: whitesmoke;
}
.lunch-time{
   display: flex;
}
.lunch-time div{
   flex-basis: 200px;
   padding-left: 50px;
}
.lunch-time div p{
    font-size: 50px;
}
@media screen and (max-width:800px){
   .content{
    font-size: 10px;
    margin-right: 3000px;
    transform: translateY(-200%);
    transform: translatex(-70%);
    margin-bottom: 250px;
   }
   .content p{
     margin-right: 5px
   }
    
}
